@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);

  --color-primary: var(--primary);
  --color-primary-secondary: var(--primary-secondary);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);

  --color-success: var(--success);
  --color-destructive: var(--destructive);

  --color-input: var(--input);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-card: var(--card);
  --color-ring: var(--ring);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;

  --background: #fff;
  --background-secondary: #f9f8f8;

  --primary: #009245;
  --primary-secondary: #11c26d;

  --text-primary: #000;
  --text-secondary: #fff;
  --text-tertiary: #8491a5;
  --ring: oklch(0.705 0.015 286.067);

  --success: #22c55e;
  --destructive: oklch(0.577 0.245 27.325);

  --card: oklch(1 0 0);
  --muted: oklch(0.967 0.001 286.375);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-primary;
  }
}
